<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bmGlyphLabelS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F85CB1391C78C3BC00A9BD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85CB1511C78C3BC00A9BD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85CB15C1C78C3BC00A9BD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
